html {
    padding: 0;
    margin: 0;
}

body {
    padding:1em;
    background-image: url("./imgs/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    align-items: center;
}

main>* {
    max-width: 100%;
    box-sizing: border-box;
}

section#experience-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

article.experience {
    display: flex;
    gap: 1em;
}

article.experience>div.experience-content {
    display: flex;
    flex-direction: column;
}

section#projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

.window {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 6px solid blue;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 230, 209);
}


nav>ul>li {
    display: flex;
    gap: 1em;
    align-items: center;
}

nav ul,
section#languages ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    padding-right: 1em;
}

div.about-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.about-me>div {
    flex-grow: 1;
    flex-shrink: 1;
}

div.about-me-content h2 {
    margin-bottom: 10px;
}

div.about-me-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div.window-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div#user-profile {
    background-color: rgb(56, 127, 225);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

div#user-profile h1 {
    color: white;
}

div#user-profile img {
    width: 10em;
    border: 3px solid white;
    border-radius: 15px;
}

.window> :first-child {
    margin: 0px;
}

.window * {
    margin: 0px;
}

.window-header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
}


div.project-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding-left: 1em;

}

div.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#languages div.icon>img {
    width: 5em;
}

div.window-header img.window-icon {
    width: 2em;
}

div.window-controls>img {
    width: 1em;
}

div.icon > img, img.icon {
    max-width:60px;
    max-height: 60px;
}

div.window-header>div.window-title {
    display: flex;
    align-items: center;
    gap: 1em;
}

div.folder-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

div.folder-container>* {
    flex-grow: 1;
}

div.window-folder {
    padding: 1em;
}

div.window-folder-container {
    display: flex;
    background-color: white;
    gap: 1em;
    padding: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}